<div class="navbar-wagon">
  <a href="/flats" class="navbar-wagon-brand" onclick="window.location.reload(true)">
  <h4>View flats</h4>
  </a>
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <p><%= link_to "Add flat", new_flat_path, class: "navbar-wagon-item navbar-wagon-link" %></p>
  </div>
</div>

